<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <script src="http://underscorejs.org/underscore.js"></script>
  </head>
  <body ng-app="zzAngularjsApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
        <div class="hero-unit">
            <h1 ng-bind="person.name"></h1>
        </div>
        <div class="row">
            <div class="span12">
                <a class="btn btn-success" ng-href="#/persons/{{person.id}}">Person</a>
                <a class="btn btn-primary" ng-href="#/persons/{{person.id}}/friends" ng-show="person.id > -1">Friends</a>
                <a class="btn btn-inverse" ng-click="changePerson(0)" ng-show="person.id != 0">Person 0</a>
                <a class="btn btn-inverse" ng-click="changePerson(1)" ng-show="person.id != 1">Person 1</a>
                <a class="btn btn-inverse" ng-click="changePerson(2)" ng-show="person.id != 2">Person 2</a>
                <a class="btn btn-inverse" ng-click="changePerson(3)" ng-show="person.id != 3">Person 3</a>
            </div>
        </div>
        <div class="row">
            <div class="span12" ng-view></div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <button ng-click="launchQ()">Launch Q</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span12">
                <button ng-click="launchRequest()">Launch</button>
                <hr>
                <ul ng-repeat="resp in responses">
                    <li>{{resp}}</li>
                </ul>
            </div>
        </div>
    </div>

    <script>

        var db_persons = localStorage['DB_persons'];
        if (!db_persons) {

            db_persons = JSON.stringify([
                {name: 'John', age:30, friends: [{name: 'J1'}, {name: 'J2'}]},
                {name: 'Jane', age:31, friends: [{name: 'Ja1'}, {name: 'Ja2'}]},
                {name: 'Pierre', age:55, friends: [{name: 'P1'}, {name: 'P2'}]},
                {name: 'Marie', age:56, friends: [{name: 'M1'}, {name: 'M2'}]}
            ]);
            localStorage['DB_persons'] = db_persons;
        }

        window.DB_persons = JSON.parse(db_persons);
    </script>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script>
        function MainCtrl($scope, $location, $window, $http, $q) {
            console.log('main-ctrl');
            $scope.responses = ['A', 'B'];

            var personId = $location.$$url.replace('/persons/', '');
            var person = null;

            if (personId === 'new') {
                person = {name: 'new', age:0, friends: []};

            } else if (personId >= DB_persons.length) {
                person = null;
            } else {
                person = JSON.parse(JSON.stringify(DB_persons[personId]));
                person.id = parseInt(personId, 10);
            }

            if (null === person) {
                $location.path('/persons/new');
                return;
            }

            console.log(person);
            $scope.person = person;

            $scope.changePerson = function(personId) {
                $window.location = '/#/persons/' + personId;
                $window.location.reload();
            }

            // test with http
            var launchInternal = function(url) {
                return $http
                    .get(url)
                    .then(function(response) {
                        $scope.responses.push('FIRST THEN');
                        console.log('first');
                        console.log(response.data);

                        var arr = _.chain(_.range(100000))
                            .shuffle()
                            .sortBy(function(num){ return Math.sin(num); })
                            .map(function(num) {return num * 3;})
                            .first(10)
                            .value();

                        console.log(arr);
                        return response.data;
                    });
            };

            $scope.launchRequest = function() {
                $scope.responses = [];
                launchInternal('/person.json')
                    .then(function() {
                        $scope.responses.push('SECOND THEN');
                        console.log('second');
                    });
            };

            $scope.counter = 0;

            var getData = function() {
                $scope.counter++;

                if ($scope.counter % 2 === 0) {
                    console.log('indirect');
                    return launchInternal('/person.json');

                } else {
                    console.log('direct');
                    var deferred = $q.defer();
                    deferred.resolve({name:'toto'});
                    return deferred.promise;
                }
            }

            $scope.launchQ = function() {
                getData().then(function(data) {
                    console.log('Hello ' + data.name);
                });
            }

        }
    </script>

    <script src="scripts/controllers/personCtrl.js"></script>
    <script src="scripts/controllers/friendsCtrl.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
